*.o
*.a
*.swp
*.out
*.orig

.DS_Store

tags
.tags
.tags1

*.txt
*.err

build/
runs/

doc/mkdocs/site/

source/CMAES/trial.dSYM/

# CMA test relevant files
source/CMAES/test/*/*.dat
source/CMAES/test/*/*.err
source/CMAES/test/*/*.par

# Torc libs
lib/torc_lite/

# Executables
source/CMAES/cma
source/CMAES/test/*/cma
source/CMAES/test/testxx

source/TMCMC/engine_tmcmc
source/TMCMC/tmcmcxx
source/TMCMC/main_autodiff_example
source/TMCMC/main_rosenbrock_example




*.bbl
*.blg
*.aux
*.gz
*.log
*.bak






