source/make/common.mk

*.o
*.a
*.swp
*.out
*.orig

.DS_Store

tags
.tags
.tags1

*.err
*.txt

build/
runs/

doc/mkdocs/site/

source/CMAES/trial.dSYM/
source/CMAES/test/testxx.dSYM/
source/CMAES/gp/run/*.dat
source/CMAES/gp/cmaes_gp_blood
source/CAMES/gp/cmaes_gp_blood.dSYM/

# CMA test relevant files
source/CMAES/test/*/*.dat
source/CMAES/test/*/*.err
source/CMAES/test/*/*.par
actparcmaes.par
allcmaes.dat


# Torc libs
lib/torc_lite/

# Executables
source/CMAES/cma
source/CMAES/test/*/cma
source/CMAES/test/testxx
source/CMAES/blood/cmaes_gp_blood
source/CMAES/blood/cmaes_x_blood

source/TMCMC/engine_tmcmc
source/TMCMC/tmcmcxx
source/TMCMC/autodiff/main_autodiff_example
source/TMCMC/rosenbrock/main_rosenbrock_example
source/TMCMC/blood/mtmcmc_gp_blood
source/TMCMC/gaus/main_manifold_gaus_example
source/TMCMC/blood/tmcmc_gp_blood
source/TMCMC/rosenbrock/main_gp_manifold_rosenbrock_example
source/TMCMC/rosenbrock/main_rosenbrock_example

*.bbl
*.blg
*.aux
*.gz
*.log
*.bak






